
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #0D0106;
    scroll-behavior: smooth;
}
body{
    font-family: 'Rajdhani', sans-serif;
}

#header{
    height: 5em;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 6;
    
    
   
    
}

#logo img{
    height: 4em;
}

#header nav a{
    color: beige;
    text-decoration: none;
    font-size: 1.5em;
    padding: 15px;
    border-radius: 20px;
   
}

#header nav a:hover{
    background-color: #805971;
}

.hamburguer{
    position: fixed;
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff ;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

#profile{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.img img{
    height: 30em;
    border-radius: 10em;
   
}

.descricao{
    color: #ffffff;
    font-size: 5em;
    
}

.descricao a {
    color: #ffffff;
    font-size: 0.8em;
}

.descricao i {
    font-size: 0.7em;
    width: 50px;
}

.descricao i:hover {
    font-size: 1em;
}

.cor:hover{
    color: #FF9F1C;
}

.titulo{
    color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 4em;
}

#sobreMim{
    height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
#sobreMim img:hover{
    transform: rotateZ(180deg);
}

.sobreMimParagrafo{
    font-size: 1.4em;
    width: 50%;
    line-height: 2.4em;
   
}

#projetos{
  
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.project{
    height:400px;
    border: 2px solid #805971;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 5em;
  
}

.imgProject{
width: 50%;
height: 100%;
border: 2px solid #805971;
}

.buttonDiv{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.3em;
   
}

.button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #FF9F1C;
    font-size: 0.5em;
    background-color: #80597186;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

.button:hover{
background-color: #FF9F1C;
color: #ffffff;
}

[data-anime]{
    opacity: 0;
    transition: .3s;
    transform: translate3d(-30px, 0px, 0px);
    
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    
}
 
.imgProject img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}




@media (max-width: 1100px) {
    .descricao {
        font-size: 3em;
    }
    
    .sobreMimParagrafo{
        font-size: 1.1em;
        line-height: 2.1em;
        width: 90vw;
        
    }

    .project{
        height: 300px;
    }
  }

  @media (max-width: 840px) {

    .hamburguer{
        display: block;
        z-index:7 ;
    }
    .links{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color:#0D0106;
        clip-path: circle(100px at 90% -15%);
        transition: 0.5s ease-out;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        pointer-events: none;
       
    }

    .nav.active .links{
        clip-path:circle(1500px at 90% -15%) ;
        pointer-events: all;
    }

    .nav.active .links a{
        opacity: 1;
    }
    
    .nav a{
        font-size: 1.7em;
        padding: 15px;
        background: none;
        opacity: 0;
    }

    .nav :nth-child(1) a{
        transition: 0.3s 0.1s;
    }

    .nav :nth-child(2) a{
        transition: 0.3s 0.3s;
    }

    .nav :nth-child(3) a{
        transition: 0.3s 0.5s;
    }

    .nav.active .hamburguer{
       border-top-color: transparent;
       
    }

    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    

    #logo img{
        height: 2em;
    }
    
    #sobreMim img{
       height: 18em;
    }
  }

  @media (max-width: 675px) {
    #header{
        height: 3em;
        
    }

    .hamburguer{
        top: 10px;
    }
    
    .titulo{
        font-size: 3em;
    }
    
   #profile{
    flex-wrap: wrap;
   }

   .img img{
    height: 18em;
   }
   #sobreMim{
    flex-wrap: wrap;
    
   }
   

   .project{
    flex-wrap: wrap-reverse;
    justify-content: center;
    height: 350px;
   }
   .imgProject{
    width: 80vw;
    height: 200px;
   
    }
    .buttonDiv{
        width: 100vw;
        height: 130px;
       
    }
    
    
 
  }

